<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628674516014-6mk1b4nasg094t49sgbii1domump958q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628674516014-6mk1b4nasg094t49sgbii1domump958q</string>
	<key>API_KEY</key>
	<string>AIzaSyCfxzwX-7YFZ47dNgVtDib6U7FYd1OeWYU</string>
	<key>GCM_SENDER_ID</key>
	<string>628674516014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seagedev.Expense-Tracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-cc062</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-cc062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628674516014:ios:5f461aa24b325f55f4bbbf</string>
</dict>
</plist>